USE [db_gnwble]
GO
/****** Object:  Table [dbo].[test_matrix]    Script Date: 03/11/2014 18:54:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_matrix](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_number] [text] NULL,
	[question_text] [text] NULL,
	[objective_answer_one] [text] NULL,
	[objective_answer_two] [text] NULL,
	[objective_answer_three] [text] NULL,
	[objective_answer_four] [text] NULL,
	[objective_answer_five] [text] NULL,
	[answer] [varchar](30) NOT NULL,
	[test_id] [int] NULL,
 CONSTRAINT [PK_text_matrix] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[test_matrix] ON
INSERT [dbo].[test_matrix] ([id], [question_number], [question_text], [objective_answer_one], [objective_answer_two], [objective_answer_three], [objective_answer_four], [objective_answer_five], [answer], [test_id]) VALUES (1, N'1', N'The Software which contains rows and columns is called', N'Database', N'Drawing', N'Spreadsheet', N'Word Processing', NULL, N'objective_answer_three', 1)
INSERT [dbo].[test_matrix] ([id], [question_number], [question_text], [objective_answer_one], [objective_answer_two], [objective_answer_three], [objective_answer_four], [objective_answer_five], [answer], [test_id]) VALUES (2, N'2', N'Which of the following methods will not enter data in a cell', N'Pressing the Esc Key', N'Pressing an arrow key', N'Pressing the tab key', N'Clicking the enter button on the formula bar', NULL, N'objective_answer_one', 1)
INSERT [dbo].[test_matrix] ([id], [question_number], [question_text], [objective_answer_one], [objective_answer_two], [objective_answer_three], [objective_answer_four], [objective_answer_five], [answer], [test_id]) VALUES (3, N'3', N'Formulas in Excel start with', N'%', NULL, N'=', N'+', NULL, N'objective_answer_two', 1)
SET IDENTITY_INSERT [dbo].[test_matrix] OFF
